<template>
  <div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Album owner</label>
      <select class="form-control" 
              id="exampleFormControlSelect1" 
              v-model="newAlbum.userId">
        <option></option>  
        <option v-for="user in users" :value="user.id">{{user.name}}</option>
      </select>
    </div>   

    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Title" 
            v-model.trim="newAlbum.title">
    </div>
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Preview url" 
            v-model.trim="newAlbum.url">
    </div>
    <button class="btn btn-primary" 
            @click="onAddAlbum">
          Add user
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AddAlbum",

  data() {
    return {
      newAlbum: {
        title: '',
        url: 'https://via.placeholder.com/150/',
        userId: null
      },
    }
  },

  computed: {
    ...mapState("users", ["users"]),
  }, 

  methods: {
    onAddAlbum() {
      if (!this.newAlbum.title || !this.newAlbum.url || !this.newAlbum.userId) {
        return;
      }
            
      this.$store.dispatch('albums/addAlbum', this.newAlbum);
      this.$router.push({name: 'albums'});
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
