<template>
  <div >
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Name" 
            v-model.trim="newUser.name">
    </div>
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Email" 
            v-model.trim="newUser.email">
    </div>
    <button class="btn btn-primary" 
            @click="onAddUser">
          Add user
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AddUser",

  data() {
    return {
      newUser: {
        name: '',
        email: ''
      },
    }
  },

  methods: {
    onAddUser() {
      if (!this.newUser.name || !this.newUser.email) {
        return;
      }
            
      this.$store.dispatch('users/addUser', this.newUser);
      this.$router.push({name: 'users'});
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
