<template>
  <div class="user-container">

    <div class="row">                    
        <div class="col">
          <router-link :to="{ name: 'add-album' }">
            <button class="btn btn-success shadow-sm">Add Album</button>
          </router-link>
        </div>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Search by User</label>
      <select class="form-control" 
              id="exampleFormControlSelect1" 
              v-model="selected"
              @change="onSelectUser">
        <option :value="''">Select All</option>
        <option v-for="user in users" :value="user.id">{{user.name}}</option>
      </select>
    </div>

    <div class="user-list">
      <table class="table">
        <thead>
          <tr>
            <th  scope="col">ID</th>
            <th  scope="col">Title</th>
            <th  scope="col">Preview</th>
            <th  scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              <tr v-for="album in filteredAlbums" :key="album.id">
                <td class="align-middle">{{album.id}}</td>
                <td class="align-middle">{{album.title}}</td>
                <td class="align-middle"><img :src="album.url"></td>
                <td class="align-middle">
                    <router-link :to="{ name: 'show-album', params: {id: album.id} }">
                      <span><i class="far fa-eye"></i></span>
                    </router-link>
                    <router-link :to="{ name: 'edit-album', params: {id: album.id} }">
                      <span><i class="far fa-edit"></i></span>
                    </router-link>                    
                    <span @click="onDeleteAlbum(album.id)">
                        <i class="far fa-trash-alt"></i>
                    </span>                  
                </td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "AlbumList",

  data() {
    return {
      search: 'name',
      filteredAlbums: null,
      selected: ''
    }
  },

  created: function () {
    this.filteredAlbums = this.albums;
  },

  computed: {
    ...mapState("albums", ["albums"]),
    ...mapState("users", ["users"]),
  },

  methods: {

    onDeleteAlbum(id) {
      this.$store.dispatch("albums/deleteAlbum", id);
    },   

    onSelectUser() {
      let userId = this.selected;
      if (userId) {
        this.filteredAlbums = this.$store.getters['albums/filterByUser'](userId);
      } else {
        this.filteredAlbums = this.albums;
      }
    }
  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .user-container > div {
    margin-bottom: 30px;
  }

  td span {
    margin-right: 10px;
  }

  .fa-edit {
    color: blue;
    cursor: pointer;
  }

  .fa-trash-alt {
    color: red;
    cursor: pointer;
  }
</style>
