<template>
<div class="container">

  <div class="row">                    
    <div class="col">
        <button v-if="!isAddPhoto" @click="showInputs" class="btn btn-success shadow-sm">
          Add Photo
        </button>
        <div v-if="isAddPhoto" class="add-photo">
            <div class="form-group">
              <input type="text" 
                    class="form-control" 
                    placeholder="Title" 
                    v-model.trim="newPhoto.title">
            </div>
            <div class="form-group">
              <input type="text" 
                    class="form-control" 
                    placeholder="image source url"
                    v-model.trim="newPhoto.url">
            </div>
            <button class="btn btn-primary" 
                    @click="onAddPhoto">
                  Add photo
            </button>          
        </div>
    </div>

  </div>

  <div class="album-container">
    <div class="avatar">
      <img :src="album.url">
    </div>
    <div class="album-info">
      <p>{{ album.title }}</p>
    </div>
  </div>

  <PhotoList/>
</div>
</template>

<script>
import PhotoList from "./PhotoList";
import { mapState } from "vuex";

export default {

 components: {
    PhotoList
  },

  data() {
    return {
      album: {
        id: '',
        title: '',
        url: '',
        albumId: ''
      },

      newPhoto: {
        albumId: '',
        title: '',
        url: 'https://via.placeholder.com/600/'
      },

      isAddPhoto: false,
    }
  },

  created: function() {
    this.album = this.$store.getters['albums/getAlbumById'](this.$route.params.id);
  },

  computed: {
    ...mapState("photos", ["photos"]),
  },  

  methods: {

    showInputs() {
      this.isAddPhoto = true;
    },

    onAddPhoto() {
      if (!this.newPhoto.title || !this.newPhoto.url) {
        return;
      }
      this.isAddPhoto = false;

      this.newPhoto.albumId = this.album.id;

      this.$store.dispatch('photos/addPhoto', this.newPhoto);

      this.filteredPhotos = this.$store.getters['photos/filterByAlbum'](this.album.id);

    },    

  }


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

.container > div {
  margin-bottom: 30px;
}
</style>
