<template>
  <div >

    <div class="form-group">
      <label for="exampleFormControlSelect1">Album owner</label>
      <select class="form-control" 
              id="exampleFormControlSelect1" 
              v-model="album.userId">
        <option></option>      
        <option v-for="user in users" :value="user.id">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Title" 
            v-model.trim="album.title">
    </div>
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Preview" 
            v-model.trim="album.url">
    </div>    
    <button class="btn btn-primary" 
            @click="onEditAlbum">
          Edit album
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "EditAlbum",

  data() {
    return {
      album: {
        userId: null,
        title: '',
        url: '',
      },
    }
  },

  created: function() {
    this.album = this.$store.getters['albums/getAlbumById'](this.$route.params.id);
  },

  computed: {
    ...mapState("users", ["users"]),
  },  

  methods: {
    onEditAlbum() {

      if (!this.album.title || !this.album.url || !this.album.userId) {
        return;
      }
            
      this.$store.dispatch('albums/editAlbum', this.album);
      this.$router.push({name: 'albums'});
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
