<template>
  <div >
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Name" 
            v-model.trim="user.name">
    </div>
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Email" 
            v-model.trim="user.email">
    </div>
    <div class="form-group">
      <input type="text" 
            class="form-control" 
            placeholder="Avatar" 
            v-model.trim="user.avatar">
    </div>    
    <button class="btn btn-primary" 
            @click="onEditUser">
          Edit user
    </button>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "EditUser",

  data() {
    return {
      user: {
        name: '',
        email: '',
        avatar: ''
      },
    }
  },

  created: function() {
    this.user = this.$store.getters['users/getUserById'](this.$route.params.id);
  },

  methods: {
    onEditUser() {

      if (!this.user.name || !this.user.email) {
        return;
      }
            
      this.$store.dispatch('users/editUser', this.user);
      this.$router.push({name: 'users'});
    },
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
