<template>
  <div>
    <h3>Photos</h3>
    <div v-if="filteredPhotos.length == 0">
      There is no photos in your album yet :-(
    </div>
    <div class="d-flex justify-content-start align-items-start flex-wrap">
      <div v-for="photo in filteredPhotos" class="photo-item">
        <img :src="photo.url">
        <p>{{ photo.title }}</p>
        <div class="delete">
          <span @click="onDeletePhoto(photo.id)">
            <i class="far fa-trash-alt"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "PhotoList",

  data() {
    return {
      filteredPhotos: null,
    }
  },

  created: function () {
    this.filteredPhotos = this.$store.getters['photos/filterByAlbum'](this.$route.params.id);
    console.log(this.filteredPhotos.length);
  },

  computed: {
    ...mapState("photos", ["photos"]),
  },  
  methods: {

    onDeletePhoto(id) {
      this.$store.dispatch("photos/deletePhoto", id);
      this.filteredPhotos = this.$store.getters['photos/filterByAlbum'](this.$route.params.id);
      console.log(this.filteredPhotos.length);
    },   
  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .photo-item {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    max-height: 200px;
  }

  .photo-item img{
    min-width: 100%;
    max-height: 200px;
  }

  .photo-item span {
    position: absolute;
    top: 5px;
    right: 5px;
  }


  .fa-trash-alt {
    color: red;
    cursor: pointer;
  }

  h3 {
    margin-bottom: 20px;
  }
</style>
