<template>
  <div class="user-container">

    <div class="row">                    
        <div class="col">
          <router-link :to="{ name: 'add-user' }">
            <button class="btn btn-success shadow-sm">Add User</button>
          </router-link>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="pt-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input v-model="search" 
                   type="radio" 
                   id="search-by-name" 
                   value="name" 
                   class="custom-control-input">
            <label class="custom-control-label" for="search-by-name">Name</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input v-model="search" 
                   type="radio" 
                   id="search-by-email" 
                   value="email" 
                   class="custom-control-input">
            <label class="custom-control-label" for="search-by-email">Email</label>
          </div>
      </div>
      <div v-if="search == 'name'" class="col-4">
          <input type="text" 
                 class="form-control" 
                 placeholder="search by Name" 
                 @input="searchBy('name', $event)">
      </div>

      <div v-if="search == 'email'" class="col-4">
          <input type="email" 
                 class="form-control" 
                 placeholder="search by Email" 
                 @input="searchBy('email', $event)">
      </div>
    </div> 
    <div class="user-list">
      <table class="table">
        <thead>
          <tr>
            <th  scope="col">ID</th>
            <th  scope="col">Name</th>
            <th  scope="col">Email</th>
            <th  scope="col">Avatar</th>
            <th  scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
              <tr v-for="user in filteredUsers" :key="user.id">
                <td class="align-middle">{{user.id}}</td>
                <td class="align-middle">{{user.name}}</td>
                <td class="align-middle">{{user.email}}</td>
                <td class="align-middle"><img :src="user.avatar"></td>
                <td class="align-middle">
                    <router-link :to="{ name: 'show-user', params: {id: user.id} }">
                      <span><i class="far fa-eye"></i></span>
                    </router-link>
                    <router-link :to="{ name: 'edit-user', params: {id: user.id} }">
                      <span><i class="far fa-edit"></i></span>
                    </router-link>                    
                    <span @click="onDeleteUser(user.id)">
                        <i class="far fa-trash-alt"></i>
                    </span>                  
                </td>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "UserList",

  data() {
    return {
      search: 'name',
      filteredUsers: null
    }
  },

  created: function () {
    this.filteredUsers = this.users;
  },

  computed: {
    ...mapState("users", ["users"]),
  },

  methods: {

    onDeleteUser(id) {
      this.$store.dispatch("users/deleteUser", id);
    },   

    searchBy: function(field, event) {
      let input = event.target.value;
      if(input.length == 0) {
        this.filteredUsers = this.users;
      } else {
        this.filteredUsers = this.$store.getters['users/filterByField'](field, input);
      }
    }  
  },


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

  .user-container > div {
    margin-bottom: 30px;
  }

  td span {
    margin-right: 10px;
  }

  .fa-edit {
    color: blue;
    cursor: pointer;
  }

  .fa-trash-alt {
    color: red;
    cursor: pointer;
  }

  button a {
    color: #fff;
    text-decoration: none;
  }
</style>
