<template>
  <div class="user-container">
    <div class="avatar">
      <img :src="user.avatar">
    </div>
    <div class="user-info">
      <p>Name: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      user: {
        name: '',
        email: '',
        avatar: ''
      }
    }
  },

  created: function() {
    this.user = this.$store.getters['users/getUserById'](this.$route.params.id);
  },



}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
